<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>carouselImages</key>
	<array>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-4.png</string>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-1.png</string>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-2.png</string>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-3.png</string>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-4.png</string>
		<string>https://github.com/yzheng16/MLife/blob/master/banner-1.png</string>
	</array>
</dict>
</plist>
